* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}

body {
    background-color: #DD7F20;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}
a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #1E201E;
    padding: 10px;
    border-radius: 15px;
}
h1 {
    font-size: 70px;
    z-index: 3;
}
h2 {
    font-size: 50px;
}

#navbar {
    max-width: 100%;
    height: 100px;

    color: white;
    background-color: #1E201E;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}
#curr_page {
    background-color: #DD7F20;
    color: #1E201E;
    padding: 10px;
    border-radius: 15px;
}

#main_cont {
    width: 100%;
    min-height: calc(100vh - 100px);

    color: #1E201E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    overflow-x: hidden; 
}
#work_carrousel {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    z-index: 1;
}
.work {
    height: 500px;
    margin: 10px;
}
.ellipse {
    width: 130%;
    height: 180px;
    z-index: 2;
    position: absolute;
    border-radius: 100%;
    background-color: #DD7F20;
}
.ellipse.top{
    top: 200px;
}
.ellipse.bottom{
    margin-top: 300px;
}

#tools_sect {
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.tool{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
}
.tool:hover {
    transform: scale(1.2);
}
.tool img{
    width: 70px;
    margin: 10px;
}
